.content_experiencia {
    width: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 90%;    
    margin-top: 4%;
}

.barra_line {
    position: absolute;
    left: 2.5%;
    top: 0;
    bottom: 0;
    width: 18.2%;
    border-right: 1px solid white;
    height: 100%;
}

.content_contenedores_exp {
    width: 60%;
    position: relative;
    z-index: 2;
}